*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("gernye.jpg"), url("silver.jpg");
    background-blend-mode: multiply;
    background-size: cover;
}
.container{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 100px;
    height: 100px;
    margin: 0 15px;
}
.box p{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 15px;
    color: white;
    font-family: sans-serif;
	font-weight: lighter;
}
h2{
    text-align: center;
    padding-top: 2px;
    color: silver;
    font-family: tahoma;
	font-weight: bolder;
}
h1{
    text-align: center;
    padding-top: 2px;
    font-family: tahoma;
    font-size: 150px;
	color: blanchedalmond;
	font-weight: bolder;
}
.alert{
    display: none;
}
