body{
  height: 100%;
  width: 100%;
  background-image: url("gernye.jpg");
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
  color: white;
}

.names{
  font-family: "Great Vibes";
  font-size: 150px;
  color: white;
}

.waiting{
  font-family: "Sofia";
  font-size: 50px;
  color: white;
}

.date{
  font-size: 50px;
  color: white;
}

.venue{
  font-size: 50px;
  color: white;
}

.notes{
  font-size:40px;
  color: white;
}

a{
  color: pink;
  text-decoration: none;
}

a:visited {
  color: pink;
  text-decoration: none;
}

.invert{
  -webkit-filter: invert(1);
  filter: invert(1);
}

.container{
  display: flex;
  justify-content: center;
}

.box{
  width: 100%;
  margin: 0 15px;
}

.box p{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 100px;
  color: white;
  margin-bottom: 15px;
}

h2{
  font-family: tahoma;
  font-weight: bolder;
  color: silver;
  text-align: center;
}

h1{
  font-family: tahoma, verdana;
  font-weight: bolder;
  font-size: 150px;
  color: blanchedalmond;
  text-align: center;
}

.alert{
  display: none;
}
